* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.dark_square,
.light_square,
.square {
    font-size: 48px;
    height: 2em;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

.square {
    font-size: 36px;
    padding: 15px;
    min-width: 95px;
    min-height: 95px;
}

.side_square {
    font-size: 36px;
    padding: 15px;
    /*min-width: 90px;*/
}

.stone {
    max-height: 100%;
    max-width: 100%;
}

.dark_square {
    background-color: #6D4C41;
            /*#63452c;*/
}

.light_square {
    background-color: #BCAAA4;
            /*#cdab8f;*/
}
