* {
    margin: 0;
    padding: 0;
}

.square {
    aspect-ratio: 1 / 1;
    font-size: 1.75em;
    height: 2em;
    padding: 2px 0 2px 0;
    text-align: center;
}

.stone {
    max-height: 100%;
    max-width: 100%;
}

.stone-selected {
    outline: 2px solid var(--bs-primary);
}

.stone-disabled {
    opacity: 0.1;
}
