{% block footer %}
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">

        <div class="col mb-3">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    &copy; 2022-2024 John Beers
                </li>
                <li class="nav-item mb-2">
                    <span class="fs-6 text-secondary">v20241204.0</span>
                </li>
            </ul>
        </div>

        <div class="col mb-3"></div>

        <div class="col mb-3">
            <p class="fs-5">Board Game</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a
                        href="https://jaerrib.codeberg.page/maerstanas/"
                        target="_blank"
                        class="nav-link p-0 text-body-secondary">About</a></li>
                <li class="nav-item mb-2"><a
                        data-bs-toggle="offcanvas"
                        href="#rules" aria-controls="rules"
                        class="nav-link p-0 text-body-secondary">How to Play</a>
                </li>
                <li class="nav-item mb-2"><a
                        href="http://codeberg.org/jaerrib/maerstanas"
                        target="_blank"
                        class="nav-link p-0 text-body-secondary">Print-and-Play
                    version</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <p class="fs-5">Software Versions</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a
                        href="https://maerstanas.fly.dev/"
                        target="_blank"
                        class="nav-link p-0 text-body-secondary">Python /
                    Django</a></li>
                <li class="nav-item mb-2"><a
                        href="https://jaerrib.codeberg.page/maerstanas_js/"
                        target="_blank"
                        class="nav-link p-0 text-body-secondary">Javascript</a>
                </li>
            </ul>
        </div>

        <div class="col mb-3">
            <p class="fs-5">Contact</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a
                        href="mailto:jaerrib[at]tutanota[dot]com"
                        target="_blank"
                        class="nav-link p-0 text-body-secondary">Email</a></li>
                <li class="nav-item mb-2"><a
                        href="https://mastodon.social/@johnbeers"
                        target="_blank"
                        class="nav-link p-0 text-body-secondary">Mastodon</a>
                </li>
                <li class="nav-item mb-2"><a
                        href="/privacy-policy"
                        class="nav-link p-0 text-body-secondary">Privacy
                    Policy</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
{% endblock footer %}
