<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    {% block footer %}
        <div class="container">
          <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3  ">
              <p class="text-body-secondary">&copy; 2022-2023 John Beers</p>
            </div>

            <div class="col mb-3"></div>

            <div class="col mb-3">
              <h5>Board Game</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://jaerrib.codeberg.page/maerstanas/" target="_blank  " class="nav-link p-0 text-body-secondary">About</a></li>
                <li class="nav-item mb-2"><a href="https://jaerrib.codeberg.page/maerstanas/rules.html" target="_blank" class="nav-link p-0 text-body-secondary">How to Play</a></li>
                <li class="nav-item mb-2"><a href="http://codeberg.org/jaerrib/maerstanas" target="_blank" class="nav-link p-0 text-body-secondary">Print-and-Play version</a></li>
              </ul>
            </div>

            <div class="col mb-3">
              <h5>Software Versions</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://codeberg.org/jaerrib/maerstanas-webapp" target="_blank" class="nav-link p-0 text-body-secondary">Python / Django</a></li>
                <li class="nav-item mb-2"><a href="https://codeberg.org/jaerrib/maerstanas_python" target="_blank" class="nav-link p-0 text-body-secondary">Python / Pygame</a></li>
                <li class="nav-item mb-2"><a href="https://jaerrib.codeberg.page/maerstanas_js/" target="_blank" class="nav-link p-0 text-body-secondary">Javascript</a></li>
              </ul>
            </div>

            <div class="col mb-3">
              <h5>Contact</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="mailto:jaerrib[at]tutanota[dot]com" target="_blank" class="nav-link p-0 text-body-secondary">Email</a></li>
                <li class="nav-item mb-2"><a href="https://mastodon.social/deck/@johnbeers" target="_blank" class="nav-link p-0 text-body-secondary">Mastodon</a></li>
                <!--<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>-->
              </ul>
            </div>
          </footer>
        </div>
    {% endblock footer %}
</body>

</html>