<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/htmx.min.js.js') }}"></script>
</head>

<body>

    {% block game_area %}
        <!-- Game Area -->
            <div>
                <!-- Letter Row -->
                <div class="d-flex">
                    <div class="square"></div>
                    {% for letter in "ABCDEFG" %}
                    <div class="square">{{letter}}</div>
                    {% endfor %}
                </div>
                <!-- End Letter Row -->
                <!--  Game Board -->
                {% for row in range(1, 8) %}
                <div class="d-flex" id="board">
                    <div class="square">{{row}}</div>
                    {% for col in range(1, 8) %}
                    <div class="square bg-secondary border border-secondary-subtle" hx-get="/move/{{row}}/{{col}}" hx-swap="innerHTML"></div>
                    {% endfor %}
                </div>
                {% endfor %}
                <!-- End Game Board -->
            </div>
            <!--End Game Area-->
    {% endblock game_area %}
</body>

</html>