{% block header %}
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded-bottom p-2 mb-3 shadow-sm">
    <div class="container-fluid">
        <h1><a class="navbar-brand fw-bold" href="/">Mǽrstánas</a></h1>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
             id="navbarNav">
            <ul class="navbar-nav nav-underline">
                <li class="nav-item">
                    <a href="" class="nav-link"
                       data-bs-toggle="modal"
                       data-bs-target="#menu-modal">
                        New Game
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="offcanvas"
                       href="#rules" aria-controls="rules">How to Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reset">Restart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div id="menu-modal"
     class="modal modal-blur fade"
     style="display: none"
     aria-hidden="false"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-bg-secondary">
                <h1 class="modal-title fs-2">New Game Menu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="/new-game" method="post">
                <div class="modal-body">
                    <div>
                        <div class="form-check form-switch fs-3 my-4">
                            <input class="form-check-input" type="checkbox"
                                   role="switch" id="stones" name="stones"
                                   value="on" checked>
                            <label class="form-check-label"
                                   for="stones">Special
                                Stones</label>
                            <p class="fs-6">(Thunder-stones and Woden-stones
                                turned on?)</p>
                        </div>
                        <div class="form-check form-switch fs-3 my-4">
                            <input class="form-check-input" type="checkbox"
                                   role="switch" id="scoring" name="scoring"
                                   value="on" checked>
                            <label class="form-check-label"
                                   for="scoring">Default Scoring</label>
                            <p class="fs-6">(Edges count with default
                                scoring)</p>
                        </div>
                    </div>
                    <div class="my-4">
                        <p class="fs-3 mb-1">Number of Players</p>
                        <input type="radio" class="btn-check"
                               name="players"
                               id="1player" autocomplete="off" value=1 checked>
                        <label class="btn"
                               for="1player">1-player vs Computer</label>
                        <input type="radio" class="btn-check"
                               name="players"
                               id="2player" autocomplete="off" value=2>
                        <label class="btn"
                               for="2player">2-player (local)</label>
                    </div>
                    <div class="my-4">
                        <p class="fs-3 mb-1">Computer Strength</p>
                        <input type="radio" class="btn-check"
                               name="difficulty"
                               id="normal" autocomplete="off" value="normal" checked>
                        <label class="btn"
                               for="normal">Normal</label>
                        <input type="radio" class="btn-check"
                               name="difficulty"
                               id="easy" autocomplete="off" value="easy">
                        <label class="btn"
                               for="easy">Easy</label>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Start Game
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--End Modal-->


{% block rules %}{% include "rules.html" %}{% endblock rules %}

{% endblock header %}
