{% extends "base.html" %}
{% block main_content %}

<div class="container d-flex flex-wrap justify-content-start">
    <!-- Left Col -->
    <div>
        <!-- Game Area -->
        <div>
            <!-- Letter Row -->
            <div class="d-flex">
                <div class="square"></div>
                {% for letter in "ABCDEFG" %}
                <div class="square">{{letter}}</div>
                {% endfor %}
            </div>
            <!-- End Letter Row -->
            <!--  Game Board -->
            {% for row in range(1, 8) %}
            <div class="d-flex">
                <div class="square">{{row}}</div>
                {% for col in range(1, 8) %}
                <a href="/process/{{row}}/{{col}}">
                    <div class="square bg-secondary border border-secondary-subtle">
                        {% if data.board[row][col][0] == 1 and
                        data.board[row][col][1] == 1 %}
                        <img src="{{ url_for('static', filename='img/dark_stone.svg') }}"
                             class="stone"
                             alt="dark stone">
                        {% elif data.board[row][col][0] == 1 and
                        data.board[row][col][1] == 2 %}
                        <img src="{{ url_for('static', filename='img/dark_thunder_stone.svg') }}"
                             class="stone"
                             alt="dark thunder stone">
                        {% elif data.board[row][col][0] == 1 and
                        data.board[row][col][1] == 3 %}
                        <img src="{{ url_for('static', filename='img/dark_woden_stone.svg') }}"
                             class="stone"
                             alt="dark woden stone">
                        {% elif data.board[row][col][0] == 2 and
                        data.board[row][col][1] == 1 %}
                        <img src="{{ url_for('static', filename='img/light_stone.svg') }}"
                             class="stone" alt="light stone">
                        {% elif data.board[row][col][0] == 2 and
                        data.board[row][col][1] == 2 %}
                        <img src="{{ url_for('static', filename='img/light_thunder_stone.svg') }}"
                             class="stone" alt="light thunder stone">
                        {% elif data.board[row][col][0] == 2 and
                        data.board[row][col][1] == 3 %}
                        <img src="{{ url_for('static', filename='img/light_woden_stone.svg') }}"
                             class="stone" alt="light woden stone">
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endfor %}
            <!-- End Game Board -->
            {% block stone_selection %}
            {% include "stone-selection.html" %}
            {% endblock stone_selection %}
        </div>
        <!--End Game Area-->
    </div>

    <!-- Right Col -->
    <div class="ms-5 mt-md-3 mt-lg-0 w-auto flex-fill">

        <!-- Score -->
        <div class="d-flex mt-1">
            <p class="ps-2 text-body-emphasis fs-4 mb-0">Player 1:
                {{data.score_p1}}</p>
            <p class="ps-4 text-body-emphasis fs-4 mb-0">Player 2:
                {{data.score_p2}}</p>
            <!--            <form hx-post="/suggest" hx-swap="outerHTML"-->
            <!--                  hx-target="#suggestion">-->
            <!--                <button type="submit"-->
            <!--                        class="ms-4 mb-0 btn btn-primary btn-sm">Suggestion-->
            <!--                </button>-->
            <!--            </form>-->
            <!--            <div id="suggestion"></div>-->
        </div>
        <!-- End Score -->

        <!-- Moves -->
        <div class="row">
            <div class="mt-3">
                <div class="overflow-auto form-control overflow-y-scroll"
                     style="height: 24.5rem">
                    <p class="fs-4">Moves:</p>
                    {% if data["game_over"] %}
                    <p class="fs-4 text-info fw-bold">GAME OVER</p>
                    {% endif %}
                    {% for move in data["move_list"]|reverse %}
                    <p>
                        <span class="text-secondary">{{data["move_list"]|length - loop.index + 1}}.</span>
                        {{move[1]}} (Player {{move[0]}})
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Moves -->

    </div>
</div>

{% endblock main_content %}