{% extends "base.html" %}
{% block main_content %}
<div class="container">
    <h2>Privacy Policy for Mǽrstánas</h2>
    <p>Effective Date: 18 April, 2024</p>

    <h3 class="mt-5">Introduction</h3>
    <p>Welcome to Mǽrstánas! This privacy policy outlines how we collect,
        use, and protect your personal information when you play our game. By
        accessing or using our game, you agree to the terms of this policy.</p>

    <h3 class="mt-5">Information We Collect</h3>
    <p><strong>Cookies:</strong> Mǽrstánas uses cookies to store game-related
        data on a temporary basis. These cookies are essential for providing a
        seamless gaming experience while you are playing. However, the cookies
        expire after a period of time, and your game state is not saved once you
        close your browser.</p>
    <p><strong>Other Data:</strong> We do not collect any other data from you.
        However, the game is hosted by <a href="https://fly.io" target="_blank">Fly.io</a>
        and their <a href="https://fly.io/legal/privacy-policy/"
                     target="_blank">privacy policy</a> applies to their
        service.
    </p>

    <h3 class="mt-5">How We Use Cookies</h3>
    <p><strong>Game Information:</strong> We use cookies to remember the board
        positions, active player, settings, and other game-related data.</p>

    <h3 class="mt-5">Third-Party Services</h3>
    <p>We do not share your personal information with third parties. However,
        please note that our game may link to external websites or services.
        Their privacy policies govern the use of your data on those
        platforms.</p>

    <h3 class="mt-5">Data Security</h3>
    <p>We take reasonable measures to protect your data from unauthorized
        access, loss, or misuse. However, no method of transmission over the
        internet is entirely secure. Please play our game responsibly and avoid
        sharing sensitive information.</p>

    <h3 class="mt-5">Your Choices</h3>
    <p>You can manage cookies through your browser settings. If you disable
        cookies, some features of our game may not function correctly.</p>

    <h3 class="mt-5">Changes to this Policy</h3>
    <p>We may update this privacy policy periodically. Please check this page
        for the latest version.</p>

    <h3 class="mt-5">Contact Us</h3>
    <p>If you have any questions or concerns about our privacy practices, please
        contact us at <a href="mailto:jaerrib[at]tutanota[dot]com">jaerrib@tutanota.com</a>.
    </p>

</div>
{% endblock main_content %}